.content-container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 30px;
}

.content-container-callout {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

img {
    height: 100%;
    width: 100%;
}

.rainbow-divider img {
    width: 100%;
}

.black-divider {
    position: relative;
}

.black-divider img {
    width: 100%;
    height: 10px;
    height: 28px;
}

.black-divider .callout {
    position: absolute;
    height: unset;
    width: unset;
    left: 0;
    bottom: -80px;
    padding: 30px;
}

@media only screen and (max-width: 800px) {
    .black-divider .callout {
        position: absolute;
        height: auto;
        width: 100%;
        left: 0;
        bottom: -80px;
    }
}


/* Home */

#home {
    position: relative;
    height: 98vh;
}

#video {
    width: 100%;
    height: inherit;
    object-fit: cover;
    position: absolute;
    left: 0;
    z-index: -1;
}

#home #video-mobile {
    display: none;
}

#home .header-text {
    margin-top: 8rem;
}

@media only screen and (max-width: 1700px) {
    #home .header-text {
        margin-top: 4rem;
    }
}

#home h1 {
    font-family: cooper-black-std, serif;
    font-size: 6rem;
    color: #ffdd00;
    text-shadow: 2px 4px black, black 0px 0px 2px;
    margin-top: 30px;
    line-height: .9;
    margin-bottom: 30px;
}

#home h4 {
    font-size: 2rem;
}

#home #rocket-img {
    max-width: 100%;
    max-height: 100%;
    top: -130px;
    position: relative;
}

#home .header-links {
    z-index: 999;
}

#home .header-links img {
    height: 40px;
    width: 40px;
}

#home .header-links i {
    font-size: 2rem;
    color: black;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

@media only screen and (max-width: 1750px) {
    #home h4 {
        font-size: 2rem;
        max-width: 500px;
    }
}

@media only screen and (max-width: 980px) {
    #home {
        background-color: #e4e5d7;
        height: 100%;
        text-align: center;
    }
    #home h1 {
        font-size: 4rem;
    }
    #home h4 {
        font-size: 1.5rem;
        max-width: 500px;
        margin: 0 auto;
    }
    #home .text-wrapper {
        display: block!important;
    }
    #video {
        display: none;
    }
    #home #video-mobile {
        display: block;
        height: 800px;
        width: 100%;
        height: auto;
        position: relative;
        bottom: 0;
        right: 0;
    }
}

@media only screen and (max-width: 980px) {
    #home h1 {
        font-size: 2.5rem;
        line-height: 1;
        margin: 0;
    }
    #home h4 {
        font-size: 1.5rem;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 20px;
    }
    #home .header-text {
        margin-top: 80px;
    }
    .navbar {
        background-color: black;
        color: white;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        position: fixed;
    }
    .navbar-brand img {
        height: 50px;
        width: auto;
    }
    #home .header-links i {
        color: white;
    }
    #home .header-links img {
        filter: brightness(0) invert(1);
    }
}

@media only screen and (max-width: 980px) {
    .navbar-brand img {
        height: 30px;
        width: auto;
    }
}


/* Poison Pill */

#poison-pill {
    background-color: #85c4ef;
    padding: 30px;
    padding-bottom: 150px;
}

#poison-pill h3 {
    font-family: cooper-black-std, serif;
    font-size: 2.5rem;
    color: #ffdd00;
    text-shadow: 2px 3px black, black 0px 0px 2px;
    text-align: center;
    margin-bottom: 30px;
    line-height: .9;
}

#poison-pill h2 {
    font-family: cooper-black-std, serif;
    font-size: 5rem;
    color: #fff;
    text-shadow: 2px 3px black, black 0px 0px 2px;
}

#poison-pill #poison-pill-video {
    height: 600px;
    padding: 20px;
}

@media only screen and (max-width: 1641px) {
    #poison-pill .text-wrapper {
        justify-content: center!important;
        text-align: center;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 600px) {
    #poison-pill #poison-pill-video {
        height: auto;
        width: 100%;
    }
}

#poison-pill h4 {
    color: black;
    font-size: 2.5rem;
}

@media only screen and (max-width: 980px) {
    #poison-pill {
        padding-bottom: 50px;
    }
    #poison-pill h2 {
        font-size: 4rem;
        margin: 30px 0;
        line-height: 1;
    }
    #poison-pill h4 {
        font-size: 2rem;
        margin: 30px 0;
        line-height: 1.2;
    }
    #poison-pill .text-wrapper {
        justify-content: center!important;
        flex-direction: column-reverse;
        text-align: center;
    }
}


/* Roadmap */

#roadmap {
    background-image: url("../images/roadmap-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
}

@media only screen and (max-width: 1050px) {
    #roadmap {
        background-image: url("../images/roadmap-background.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 30px;
    }
}

#roadmap h3 {
    font-family: cooper-black-std, serif;
    font-size: 2.5rem;
    color: #ffdd00;
    text-shadow: 2px 3px black, black 0px 0px 2px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}

#roadmap .roadmap-image {
    text-align: center;
}

#roadmap .roadmap-image img {
    max-height: 800px;
    width: 100%;
    height: 100%;
    max-width: 600px;
}

@media only screen and (max-width: 980px) {
    #roadmap h3 {
        margin-top: 50px;
    }
}


/* Team */

#team {
    background-color: #e54f18;
}

#team h3 {
    font-family: cooper-black-std, serif;
    font-size: 2.5rem;
    color: #ffdd00;
    text-shadow: 2px 3px black, black 0px 0px 2px;
    text-align: center;
    margin-bottom: 30px;
}

#team .member-image img {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    margin: 30px;
    box-shadow: 0.5rem 0.5rem black;
}

#team .member-details {
    text-align: center;
}

#team .member-details .name {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}

#team .member-details .position {
    font-family: cooper-black-std, serif;
    font-size: 1rem;
    color: #fff;
}

#team .member-details .links a {
    color: black;
    font-size: 1.5rem;
    margin-right: 10px;
}

@media only screen and (max-width: 980px) {
    #team .member-image img {
        height: 100px;
        width: 100px;
        box-shadow: 0.25rem 0.25rem black;
        border-radius: 100px;
    }
    #team .member-details .name {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
    }
    #team .member-details .position {
        font-family: cooper-black-std, serif;
        font-size: .8rem;
        color: #fff;
    }
}


/* Partners */

#partners {
    background-image: url("../images/partners-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px;
    position: relative;
    min-height: 800px;
}

#partners .background-hand {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .5;
    height: 100%;
    width: auto;
}

#partners h3 {
    font-family: cooper-black-std, serif;
    font-size: 2.5rem;
    color: #ffdd00;
    text-shadow: 2px 3px black, black 0px 0px 2px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

#partners .partner {
    margin-top: 80px;
    justify-content: center;
    padding: 20px;
}

#partners .partner img {
    height: 60px;
    width: 200px;
    margin: 50px;
}

#partners .partner .details {
    width: 600px;
}


/* Press */

#press {
    padding: 30px;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("../images/press-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#press h3 {
    font-family: cooper-black-std, serif;
    font-size: 2.5rem;
    color: #ffdd00;
    text-shadow: 2px 3px black, black 0px 0px 2px;
    text-align: center;
    margin-bottom: 30px;
}

#press .press-slider {
    max-width: 850px;
    margin: 0 auto;
}

#press .press-item {
    width: 244px;
    height: 400px;
    margin: 20px;
}

#press .press-item img {
    height: 200px;
    width: 244px;
    border: 2px solid black;
    margin: 0 auto;
}

#press .press-item .press-details {
    height: 200px;
    width: 244px;
    border: 2px solid black;
    background-color: black;
    color: white;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 5px;
}

#press .press-item .press-details .title {
    font-size: 1.3rem;
    line-height: 1.3;
}

#press .press-item .press-details .title {
    font-size: 1rem;
    line-height: 1.3;
}

#press .press-item .press-details .read-more {
    font-weight: bold;
    line-height: 1.3;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 55px;
    color: #ffdd00;
    background-color: black;
    width: 100%;
    padding: 15px 0;
    padding-left: 5px;
}


/* Gallery */

#gallery {
    background-image: url("../images/partners-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px;
    position: relative;
}

#gallery h3 {
    font-family: cooper-black-std, serif;
    font-size: 2.5rem;
    color: #ffdd00;
    text-shadow: 2px 3px black, black 0px 0px 2px;
    text-align: center;
    margin-bottom: 30px;
}

#gallery .gallery-slider {
    max-width: 800px;
    margin: 0 auto;
}

#gallery .inquire {
    text-align: center;
    font-family: adobe-garamond-pro, serif;
    margin-top: 50px;
    font-size: 1.5rem;
}

#gallery .gallery-slider button {
    font-size: 3rem;
    color: black;
}

#gallery .slick-list {
    box-shadow: 0.5rem 0.5rem black;
}

#gallery .error {
    width: 350px;
    height: 180px;
    padding: 2px;
    border: 1px outset #dedede;
    border-color: #a3a3a3;
    background-color: #e8e8d8;
    animation: display 200ms;
    animation-fill-mode: forwards;
    margin: 0 auto;
    margin-top: 30px;
}

#mc_embed_signup form {
    margin: 0;
}

@media (max-width:600px) {
    #gallery .error {
        width: 100%;
        height: 200px;
    }
}

#gallery .title {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    padding: 0 2px 0 2px;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 0 #fff;
    line-height: 30px;
    background-image: -webkit-linear-gradient(left, #0050e0, #3890f8);
    background-image: -moz-linear-gradient(left, #0050e0, #3890f8);
    background-image: linear-gradient(left, #0050e0, #3890f8);
}

#gallery .close-button {
    position: absolute;
    right: 2px;
    line-height: 1;
    width: 25px;
    height: 25px;
    color: #000;
    text-align: center;
    font-weight: bold;
    background-color: #e8e8d8;
}

#gallery .message {
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 14px;
}

#gallery .input {
    text-align: center;
    margin: 0 auto;
}

#gallery .button-container {
    text-align: center;
}

#gallery .subscribe {
    position: relative;
    width: 100px;
    height: 27px;
    background-color: #e8e8d8;
    border: 1px solid #2b2b2b;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.7);
}

#mc_embed_signup .mc-field-group {
    width: 80%;
}

#mc_embed_signup .button {
    height: 100%;
    width: auto;
    color: black;
}

#gallery .subscribe:focus>span {
    border: 1px dotted #000;
}

#gallery .subscribe span {
    display: block;
    width: 108%;
    height: 86%;
    margin-top: -2px;
    margin-left: -4px;
    line-height: 17px;
}

#gallery .slick-slide {
    height: 500px;
}

#gallery .slick-track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

@media (max-width:600px) {
    #gallery {
        padding: 0;
    }
    #gallery .slick-slide {
        height: 300px;
    }
}


/* Contact */

#contact {
    padding: 30px;
    position: relative;
    background-color: #e4e5d7;
}

#contact h3 {
    font-family: cooper-black-std, serif;
    font-size: 2.5rem;
    color: #ffdd00;
    text-shadow: 2px 3px black, black 0px 0px 2px;
    text-align: center;
    margin-bottom: 30px;
}


/* Footer */

#footer {
    width: 100%;
    position: relative;
}

#footer .content-container {
    position: relative;
    color: white;
    padding: 0;
}

#footer .footer-text {
    position: absolute;
    bottom: 20px;
}